body {
    user-select: none;
    width: max-content;
}

img {
    -webkit-user-drag: none;
}

.header {
    display: flex;

    & span {
        font-size: 1.5rem;
    }

    & img {
        margin-left: 5px;
        width: 1.5rem;
    }
}

#hint {
    font-size: 0.6rem;
    color: gray;
    height: 1em;
    opacity: 0;
    transition: opacity 0.5s;

    &.visible {
        opacity: 1;
    }
}
