body {
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

.cont {
    width: max-content;
}

.header {
    display: flex;

    & span {
        font-size: 1.5rem;
    }

    & img {
        margin-left: 5px;
        width: 1.5rem;
    }
}